body
{
    margin: 0px;
}

    

.header
{
   width: 100%;
  min-height: 350px;
  background-image: url(ima2.jpg);
  background-size: 1250px;
}
.smallblock
{
width: 100%;
min-height: 38px;
background-color:black;

}

.content
{
    width:100% ;
    min-height:603px;
    background-image: url(image1.gif) ;
    background-size:100%;
    border:1px solid black;
}
h1
{
color: blue;
}
 p
{
    color: yellow;
}
.content1
{
    width: 100%;
    min-height: 500px;
   
   
    float: left;
    
}
.footer
{
    width: 100%;
    height:260px ;
    border:1px solid black;
}
.footer-item
{
    width: 33%;
    min-height: 260px;
   background-image: url(images1.jpg);
   background-size: 500px;
   float: left;
}
.content2
{
    height:810px ;
}
.content3
{
    width: 15%;
    background-image: url(image4.jpg);
    background-size: 850px;
    float: right;
}
.content4
{
    height: 710px;
}
.content5
{
    height:700px ;
}
.content-pod
{
    width:100% ;
    min-height:620px;
    background-image: url(image10.gif);
    background-size: 100%;
}
.im
{
    width: 100%;
 min-height: 600px;
    float: left;
}
.alert-danger
{
    margin-top: 10px;
}
img
{
    margin: 10px;
    border: 2px solid khaki;
}
.footer-item2
{
    width: 33%;
    min-height: 260px;
   background-image: url(images5.jpg);
   background-size: 500px;
   float: left;
}
.footer-item1
{
    width: 33%;
    min-height: 260px;
   background-image: url(images4.jpg);
   background-size: 500px;
   float: left;
}