.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: none;
}
.b-popup .b-popup-content{
    margin-top: 9%;
    margin-left: 20%;
    float: center;
    width: 50%;
    height: 600px;
    background-color: #1e1e1e;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.content-photo-block{
    border: 1px solid black;
    height: 100%;
    width: 60%;
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.content-photo-left
{
    height: 100%;
    width: 10%;
    float: left;
}
.content-photo-right
{
    height: 100%;
    width: 10%;
    float: right;
}
.content-photo{
    max-height: 100%;
    max-width: 80%;
    margin-top: 170px;
}
.content-coment-block{
    float: right;
    width: 40%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.content-profile{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.61);
    border-radius: 0;
    width: 100%;
    height: 10%;
}
.content-profile-avatar{
    border: 1px solid black;
    border-radius: 100px;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 7px;
    width: 45px;
    height: 45px;
    float: left;
}
.content-profile-nickname{
    font-size: 15px;
    font-weight: 500;
    color: rgb(26, 12, 107);
    margin: 0;
}
.content-profile-data{
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.39);
    margin: 0;
    margin-top: 5px;
}
.content-profile-button{
    border-bottom: 3px solid rgba(0, 0, 0, 0.61);
    height: 10%;
}
.popup1{
    display: none;
}
