.jumbotron
{
    background-image: url(http://time.112.ua/ukraine25/images/tild3934-3066-4565-a336-623234356464__41.jpg);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-heading
{
    color: #F9F2E7;
    text-align: center;

}
.navbar
{
    background-color: #40C0CB;
    margin: 0;
    border: none;
}

.navbar-header{
    width: 100%;
}
.sidenav
{
    background-color: wheat;
}
.col-sm-9
{
    background-color: #8FBE00;
}
.jumbotron
{
    margin: 0;
}
body
{
    background-color: wheat;
}
img
{
    height: 300px;
    width: 300px;
}
.carousel-inner img
{
    min-width: 100%;
}
